<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>particles</title>
    <style>
        html, body {
          width:  100%;
          height: 100%;
          margin: 0px;
        }
        body{ background-color: white; }
    </style>
</head>
<body>
  <canvas id="canvas" width=400 height=400></canvas>
  <script>
    var canvas = document.getElementById('canvas');
    var emitter = new particles.EmitterSphere({num: 20, radius: 0.001});

    var rendererConfig = {
      canvas: canvas,
      emitters: [emitter]
    }

    var renderer = new particles.Renderer(rendererConfig);

    var origX = emitter.x;
    var origY = emitter.y;
    canvas.addEventListener("mousedown", _mousedownHandler, false);

    function _mousedownHandler(event){
      _mousemoveHandler(event, false);
      canvas.addEventListener("mousemove", _mousemoveHandler, false);
      document.addEventListener("mouseup", _mouseupHandler, false);
    }
    function _mousemoveHandler(event, interpolate = true){
      var perspective = renderer.focalLength / (renderer.focalLength + emitter.z);
      var convertedX = (event.clientX - renderer.canvasWidth * 0.5) * perspective;
      var convertedY = (event.clientY - renderer.canvasHeight * 0.5) * perspective;

      emitter.setPosition({
        x: convertedX * 0.5,
        y: convertedY * 0.5,
        interpolate: interpolate
      });
      //console.log(perspective)
      // console.log(emitter.x, emitter.y);
      // console.log(event.clientX, event.clientY);
      // console.log(this.canvasWidth, this.canvasHeight);
      // console.log(convertedX, convertedY);
    }
    function _mouseupHandler(event){
      canvas.removeEventListener("mousemove", _mousemoveHandler);
      document.removeEventListener("mouseup", _mouseupHandler);
      // emitter.x = origX;
      // emitter.y = origY;
    }
  </script>
</body>
</html>
